1) Load data from "Live_20210128.csv" file. Remove unwanted features if required.

In [1]:
import numpy
import pandas

reactions = pandas.read_csv("Live_20210128.csv")
reactions_clean = reactions.drop(columns=["Column1","Column2","Column3","Column4"])
## The status type might be important. We will utilize the conversion from text to number, considering  video = 1 and photo = 0
print(reactions_clean['status_type'].unique())
reactions_clean['status_type'] = reactions_clean['status_type'].map({'video': 1, 'photo': 0, 'status': 2, 'link':3})
print(reactions_clean['status_type'].unique())
reactions_clean.shape
reactions_clean.head()

['video' 'photo' 'link' 'status']
[1 0 3 2]

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,1,1,4/22/2018 6:00,529,512,262,432,92,3,1,1,0
1,2,0,4/21/2018 22:45,150,0,0,150,0,0,0,0,0
2,3,1,4/21/2018 6:17,227,236,57,204,21,1,1,0,0
3,4,0,4/21/2018 2:29,111,0,0,111,0,0,0,0,0
4,5,0,4/18/2018 3:22,213,0,0,204,9,0,0,0,0

2) Select the optimum k value using Silhouette Coefficient and plot the optimum k values.

In [3]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import os 
os.environ['KMP_DUPLICATE_LIB_OK']='True'


# Select relevant numerical columns for clustering
cluster_features = ['status_type', 'num_reactions', 'num_comments',
                    'num_shares', 'num_likes', 'num_loves',
                    'num_wows', 'num_hahas', 'num_sads']

# Standardize the data
scaler = StandardScaler()
cluster_features_scaled = pandas.DataFrame(scaler.fit_transform(reactions_clean[cluster_features]), columns=cluster_features)

range_n_clusters = list(range(2,10)) 

for n_clusters in range_n_clusters:
   cluster = KMeans(n_clusters=n_clusters, random_state=10)
   cluster_labels = cluster.fit_predict(cluster_features_scaled)
   #silhouette_avg = silhouette_score(cluster_features_scaled, cluster_labels)
   print("For n_clusters =", n_clusters, "The average silhouette_score is :", 'test')

For n_clusters = 2 The average silhouette_score is : test
For n_clusters = 3 The average silhouette_score is : test
For n_clusters = 4 The average silhouette_score is : test
For n_clusters = 5 The average silhouette_score is : test
For n_clusters = 6 The average silhouette_score is : test
For n_clusters = 7 The average silhouette_score is : test
For n_clusters = 8 The average silhouette_score is : test
For n_clusters = 9 The average silhouette_score is : test